<link href="/css/products.css" rel="stylesheet">
<h3 style="font-weight: bold; margin-bottom: 0px;">
        {{component.name}}
</h3>
<p class="mb-4">{{component.subtitle}}</p>

<a href="/products/new-product" class="btn btn-primary mb-4"><i class="fa-solid fa-plus"></i>&nbsp;Add Product</a>

<div class="d-flex mb-4" style="gap: 24px;">
    <form style="max-width: 220px; border-radius: 16px" class="shadow-sm" action="/products">
      <div class="input-group" style="border-radius: 16px;">
          <input name="search" type="text" class="form-control" style="border-radius: 16px 0 0 16px; border: none" placeholder="Search!" value="{{meta.search}}" required>
          <button style="border-radius: 0 16px 16px 0; background-color: inherit; border: none" class="input-group-text">
              <i class=" text-primary fa-solid fa-magnifying-glass"></i>
          </button>
      </div>
  </form>
  <div class="d-flex align-items-center" style="gap: 8px">
    <i class="text-primary fa-solid fa-filter"></i>
    <select class="form-select form-select-sm shadow-sm" aria-label=".form-select-sm example" style="max-width: 180px; border: none; border-radius: 16px" onchange="handleSelectCategoriesChange(event)" id="categorySelect">
              <option value="all">All Categories</option>
            {{#each categories}}
              <option value="{{this._id}}" {{#eq this._id ../meta.catId}}selected{{/eq}}>
                {{this.name}}
              </option>
            {{/each}}
    </select>
  </div>
  <div class="d-flex align-items-center" style="gap: 8px">
    <i class="text-primary fa-solid fa-sort"></i>
    <select class="form-select form-select-sm shadow-sm" aria-label=".form-select-sm example" style="max-width: 140px; border: none; border-radius: 16px" onchange="handleSelectSortChange(event)" id="sortSelect">
            <option value="publishDate-desc" {{#eq meta.sort 'publishDate-desc'}}selected{{/eq}}>Newest</option>
            <option value="publishDate-asc" {{#eq meta.sort 'publishDate-asc'}}selected{{/eq}}>Oldest</option>
            <option value="name-asc" {{#eq meta.sort 'name-asc'}}selected{{/eq}}>
              Name: A-Z
            </option>
            <option value="name-desc" {{#eq meta.sort 'name-desc'}}selected{{/eq}}>
              Name: Z-A
            </option>
            <option value="price-desc" {{#eq meta.sort 'price-desc'}}selected{{/eq}}>
              Price: High-Low
            </option>
            <option value="price-asc" {{#eq meta.sort 'price-asc'}}selected{{/eq}}>
              Price: Low-High
            </option>
    </select>
  </div>
</div>
  <div class="container d-grid product-list">
    {{#each products}}
        <div class="card rounded-3 shadow-sm" style="max-width: 15rem; border: none" cardId="{{this._id}}">
        <div class="w-100 d-flex justify-content-center py-2 bg-light">
            <img src="{{this.image}}" width="140px" height="200px">
        </div>
        <div class="card-body">
            <h5 class="card-title" style="text-overflow: ellipsis; overflow: hidden; max-width: 100%; white-space: nowrap;">{{this.name}}</h5>
            <p class="card-text" style="margin: 0;">Price: <span class="text-primary">${{this.price}}</span></p>
            <p class="card-text">Stock: {{this.stock}}</p>
            <div>
            <a href="/products/edit/{{this._id}}" class="btn btn-primary">Edit</a>
            <a class="btn btn-danger btn-remove-product" productId="{{this._id}}" productName="{{this.name}}" data-bs-toggle="modal" data-bs-target="#exampleModal">Remove</a>
            </div>
        </div>
        </div>
    {{/each}}
  </div>
{{#if meta.showPagination}}
<nav aria-label="Page navigation example" style="margin-top: 32px;">
  <ul class="pagination justify-content-center">
    <li class="page-item {{#if meta.noPrev}}disabled{{/if}}">
      <a class="page-link" aria-label="Previous" pageNum="{{meta.prevPage}}" style="cursor: pointer;">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {{#range 1 meta.totalPage}}
        <li class="page-item {{#eq this ../meta.page}}active{{/eq}}"><a class="page-link" style="cursor: pointer;" pageNum="{{this}}" >{{this}}</a></li>
    {{/range}}
    <li class="page-item {{#if meta.noNext}}disabled{{/if}}">
      <a class="page-link" pageNum="{{meta.nextPage}}" style="cursor: pointer;" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
{{/if}}

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirm Deleting!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" 
        data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="continueBtn" data-bs-dismiss="modal">Continue</button>
      </div>
    </div>
  </div>
</div>



<script>
    let productId = null;
    $(document).ready(() => {
        const editingMessage = localStorage.getItem('justEditing');
        if(editingMessage) {
            showMainAlert('success', editingMessage);
            localStorage.removeItem('justEditing');
        }

       $('.card').each((index, product) => {
            $(product).click(function(e) {
                const productId = $(this).attr('cardId');
                window.location.href = `/products/${productId}`
            })
        })
        
        $('.btn-remove-product').each((index, btn) => {
            $(btn).on('click', async (e) => {
                e.stopPropagation();
                productId = $(btn).attr('productId');
                const productName = $(btn).attr('productName');
                $(".modal-body").text(`Are you sure to delete "${productName}"`);
            
        })
    


        $("#continueBtn").unbind('click').on('click', async function(e) {
            console.log(e.target);
            e.preventDefault();
            e.stopPropagation();
            const response = await fetch(`/api/products/${productId}`, {
                    method: 'DELETE',
                })

                const json = await response.json();
                if(response.ok) {
                    showMainAlert('success', json.message);
                    $(`div[cardId="${productId}"]`).remove();
                } else {
                    showMainAlert('danger', json.message);
                }
            })
        })
    })

    function handleSelectCategoriesChange(e) {
      let currentHref = new URLSearchParams(window.location.search);
      const categoryId = $('#categorySelect').find(':selected').val()
      if(categoryId == 'all')
        currentHref.delete('catId');
      else {
        currentHref.set('catId', categoryId);
      }
      window.location.search = currentHref.toString();
    }

    function handleSelectSortChange(e) {
      let currentHref = new URLSearchParams(window.location.search);
      const sortVal = $('#sortSelect').find(':selected').val()
      const [sortBy, sortDir] = sortVal.split('-');
      currentHref.set('sortBy', sortBy);
      currentHref.set('sortDir', sortDir);
      window.location.search = currentHref.toString();
    }
    
  </script>