<h3 style="font-weight: bold; margin-bottom: 0px;">
        {{component.name}}
</h3>
<p class="mb-4">{{component.subtitle}}</p>

<h5 class="fw-bold" style="font-size: 26px;">{{product.name}}</h5>
    {{#if product.authors}}
        <p class="card-subtitle mb-4" style="font-size: 14px;">Authors: <span class="text-primary">{{product.authors}}</span></p>
    {{/if}}
    <div class="d-flex w-100 justify-content-center mb-3">
      <img src="{{product.image}}" width="240px" height="360px">
    </div>
    <div class="{{#if product.stock}}bg-success{{else}}bg-danger{{/if}} text-center text-light mx-auto mb-3" style="max-width: 200px; border-radius: 16px; padding: 9px;">
      {{#if product.stock}}Available ({{product.stock}} in stock){{else}}Out of stock{{/if}}</div>
    {{#if product.description}}
    <div class="mb-3">
      <h4 class="fw-bold">
        Description
      </h4>
      <div style="font-size: 14px;">{{{product.description}}}</div>
    </div>
    {{/if}}
    <div class="mb-4">
      <h4 class="fw-bold">Product Details</h4>
      <p style="font-size: 14px; margin-bottom: 0;">Price: <span class="text-primary" >${{product.price}}</span></p>
      {{#if product.publisher}}
      <p style="font-size: 14px; margin-bottom: 0;">Publisher: {{product.publisher}}</p>
      {{/if}}
      {{#if product.publishDate}}
      <p style="font-size: 14px; margin-bottom: 0;">Publish date: {{product.publishDate}}</p>
      {{/if}}
      {{#if product.pages}}
      <p style="font-size: 14px; margin-bottom: 0;">Pages: {{product.pages}}</p>
      {{/if}}
      {{#if product.language}}
      <p style="font-size: 14px; margin-bottom: 0;">Language: {{product.language}}</p>
      {{/if}}
      <p style="font-size: 14px; margin-bottom: 0;">Categories: {{#each product.categories}}
        <a class="link" href="/products?catId={{this._id}}">{{this.name}}</a>&nbsp&nbsp;
        {{/each}}
      </p>
    </div>
    {{#if product.reviews.length}}
        <div class="mb-4">
      <h4 class="fw-bold">Reviews</h4>
      <div class="rounded-3 shadow-sm mx-auto mb-3 d-flex bg-light" style="height: 120px; width: 100%; justify-content: center; align-items: center; flex-direction: column;">
        <div class="d-flex align-items-center" >
          <span class="fw-bold me-2" style="font-size: 46px;">{{product.rating}}</span>
        {{#renderStars product.rating}}{{/renderStars}}
        </div>
        <p>({{product.reviews.length}} Review)</p>
      </div>
      <div class="d-flex gap-5" style="flex-direction: column;">
        {{#each product.reviews}}
        <div class="d-flex gap-4">
          <div>
            <image src="{{this.user.avatar}}" style="width: 50px; height: 50px; object-fit: cover; object-position: center; border-radius: 50%;"></image>
          </div>
          <div>
            <div>
              <div class="d-flex align-items-center">
                <span class="fw-bold me-2">{{this.user.username}}</span> {{#if this.rating}}
              {{#renderStars this.rating 'sm'}}{{/renderStars}}{{/if}}
              </div>
              <p style="font-size: 14px;" class="mt-3">
                {{this.content}}
              </p>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
    {{/if}}