<h3 style="font-weight: bold; margin-bottom: 0px;">
        {{component.name}}
</h3>
<p>{{component.subtitle}}</p>

<h5 class="fw-bold" style="font-size: 26px;">{{product.name}}</h5>
    {{#if product.authors}}
        <p class="card-subtitle mb-4" style="font-size: 14px;">Authors: <span class="text-primary">{{product.authors}}</span></p>
    {{/if}}
    <div class="d-flex w-100 justify-content-center mb-3">
      <img src="{{product.image}}" width="240px" height="360px">
    </div>
    <div class="{{#if product.stock}}bg-success{{else}}bg-danger{{/if}} text-center text-light mx-auto mb-3" style="max-width: 200px; border-radius: 16px; padding: 9px;">
      {{#if product.stock}}Available ({{product.stock}} in stock){{else}}Out of stock{{/if}}</div>
    {{#if product.description}}
    <div>
      <h4 class="fw-bold">
        Description
      </h4>
      <p style="font-size: 14px;">{{product.description}}</p>
    </div>
    {{/if}}
    <div class="mb-4">
      <h4 class="fw-bold">Product Details</h4>
      <p style="font-size: 14px; margin-bottom: 0;">Price: <span class="text-primary" >${{product.price}}</span></p>
      {{#if product.publisher}}
      <p style="font-size: 14px; margin-bottom: 0;">Publisher: {{product.publisher}}</p>
      {{/if}}
      {{#if product.publishDate}}
      <p style="font-size: 14px; margin-bottom: 0;">Publish date: {{product.publishDate}}</p>
      {{/if}}
      {{#if product.pages}}
      <p style="font-size: 14px; margin-bottom: 0;">Pages: {{product.pages}}</p>
      {{/if}}
      {{#if product.language}}
      <p style="font-size: 14px; margin-bottom: 0;">Language: {{product.language}}</p>
      {{/if}}
      <p style="font-size: 14px; margin-bottom: 0;">Categories: {{#each product.categories}}
        <a class="link" href="/products?catId={{this._id}}">{{this.name}}</a>&nbsp&nbsp;
        {{/each}}
      </p>
    </div>
    <div>
      <h4>Reviews</h4>
</div>