<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>{{title}} | HCMUS Book Store</title>
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script
      src="https://kit.fontawesome.com/0f8c4fe9ac.js"
      crossorigin="anonymous"
    ></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script
      src="https://code.jquery.com/jquery-3.7.1.js"
      integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="/css/general.css"
    />
    <link
        rel="stylesheet"
        type="text/css"
        href="/css/homepage.css"
    >
  </head>
  <style>
  </style>

  <body>
        <header style="position: fixed; top: 0; left: 0; right: 0; z-index: 99; box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.05);" class="bg-white">
            <nav class="d-flex align-items-center p-3 mx-auto" style=" gap: 32px; max-width: 1200px">
                <a style="font-size: 24px;" href="/">Book Store</a>
                <div class="d-flex justify-content-center align-items-center gap-4" style="flex: 1; position: relative;">
                    <button class="border-0 text-primary category-btn" style="background-color: inherit;">
                        <i class="fa-solid fa-bars-progress"></i>
                    </button>
                    <div class="category-menu hide bg-white rounded-3 shadow-lg" style="position: absolute; z-index: 999; top: 100%; padding: 12px 24px;">
                        <ul class="category-list" style="display: grid; list-style: none;grid-template-columns: 1fr 1fr 1fr 1fr; padding: 0; row-gap: 16px; column-gap: 32px;">
                            
                        </ul>
                    </div>
                    <form style="max-width: 500px; width: 100%;" action="/books">
                        <div class="input-group mb-3 rounded-4 overflow-hidden shadow-sm mt-3">
                            <input type="text" class="search-input form-control border-0 shadow-none" aria-label="Amount (to the nearest dollar)" placeholder="Find your book!" required name="keyword">
                            <button type="submit" class="input-group-text border-0 text-primary" style="background-color: inherit"><i class="fa-solid fa-magnifying-glass"></i></button>
                          </div>
                    </form>
                </div>
                <nav class="1-navbar" id="navbar">
                  <nav class="nav">
                    <div class="nav-list align-items-center d-flex">
                       {{#if user}} 
                        <a href="/cart" class="notification nav_link" style="margin-left:5px;margin-right:5px">
                            <span style="font-size: 20px;"><i class="fa-solid fa-cart-shopping"></i></span>
                            <span class="badge nav_name ms-1 cart-size hide"></span>
                          </a> 
                       {{/if}}
                        {{#if user}}
                        <div style="position: relative; display:inline">
                          <img class="user-avatar" style="object-fit: cover; object-position: center; width: 30px; height: 30px; border-radius: 50%; cursor: pointer" alt="user-img" src="{{user.avatar.url}}" />
                          <div class="bg-light shadow-sm hide profile-popover" style="position: absolute; {{#eq user.role 'admin'}}bottom: -180px;{{else}}bottom: -140px;{{/eq}} right: 0; width: 200px; border-radius: 8px; padding: 4px 8px">
                            <ul style="padding-left: 0;">
                              <li class="mb-2">
                                <a class="d-flex user-menu-item" 
                                href="/account"
                                style="justify-content: space-between; align-items: center">
                                  <i class="fa-regular fa-user"></i>
                                  <p class="fw-bold full-name">{{user.fullName}}</p>
                                </a>
                              </li>
                              {{#eq user.role 'admin'}}
                              <li class="mt-1">
                                <a class="d-flex user-menu-item" style="justify-content: space-between; align-items: center" target="_blank" href="/admin">
                                  <i class="fa-solid fa-screwdriver-wrench"></i>
                                  <p>Admin page</p>
                                </a>
                              </li>
                              {{/eq}}
                              <li class="mt-1">
                                <a class="d-flex user-menu-item" style="justify-content: space-between; align-items: center" target="_blank" href="/wallet">
                                  <i class="fa-regular fa-credit-card"></i>
                                  <p>My wallet</p>
                                </a>
                              </li>
                              <li class="mt-1">
                                <a class="d-flex user-menu-item logout-btn" style="justify-content: space-between; align-items: center" href="/logout">
                                  <i class="fa-solid fa-arrow-right-from-bracket"></i>
                                  <p>Logout</p>
                                </a>
                              </li>
                            </ul>
                          </div>
                        </div>
                        {{else}}
                          <a class="nav_link" href="/login" style="margin-left:5px;margin-right:5px">
                            <span class="nav_name ms-1">Login</span>
                        </a>
                        {{/if}}
                        
                    </div>
                  </nav>
                </nav>
            </nav>
        </header>

        {{{body}}}
    <!-- Footer -->
    <footer
            class="text-center text-lg-start  bg-light"
            style="color: #666;"
            >
      <!-- Section: Social media -->
      <section
               class="d-flex justify-content-between p-4 bg-primary text-white"
               >
        <!-- Left -->
        <div class="me-5">
          <span>Connect us on social networks:</span>
        </div>
        <!-- Left -->
  
        <!-- Right -->
        <div>
          <a href="" class=" me-4">
            <i class="fab fa-facebook-f text-white"></i>
          </a>
          <a href="" class=" me-4">
            <i class="fab fa-twitter text-white"></i>
          </a>
          <a href="" class=" me-4">
            <i class="fab fa-google text-white"></i>
          </a>
          <a href="" class=" me-4">
            <i class="fab fa-instagram text-white"></i>
          </a>
          <a href="" class=" me-4">
            <i class="fab fa-linkedin text-white"></i>
          </a>
          <a href="" class=" me-4">
            <i class="fab fa-github text-white"></i>
          </a>
        </div>
        <!-- Right -->
      </section>
      <!-- Section: Social media -->
  
      <!-- Section: Links  -->
      <section class="" style="font-size: 14px;">
        <div class="container text-center text-md-start mt-5">
          <!-- Grid row -->
          <div class="row mt-3">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <!-- Content -->
              <h6 class="text-uppercase fw-bold">HCMUS book store</h6>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto bg-primary"
                  style="width: 60px; height: 2px"
                  />
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold">Products</h6>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto bg-primary"
                  style="width: 60px; height: 2px"
                  />
              <p>
                <a href="#!" class="">Book Store Website</a>
              </p>
              <p>
                <a href="#!" class="">Dashboard</a>
              </p>
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold">Service</h6>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto bg-primary"
                  style="width: 60px; height: 2px"
                  />
              <p>
                <a href="#!" class="">Account</a>
              </p>
              <p>
                <a href="#!" class="">Help</a>
              </p>
              <p>
                <a href="#!" class="">Term and Policy</a>
              </p>
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold">Contact</h6>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto bg-primary"
                  style="width: 60px; height: 2px"
                  />
              <p><i class="fas fa-home mr-3"></i> Thu Duc, HCMC</p>
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->
        </div>
      </section>
      <!-- Section: Links  -->
  
      <!-- Copyright -->
      <div
           class="text-center p-3"
           >
        © 2023 Copyright:
        <a class="" href="https://localhost:8000"
           >HCMUS book store</a
          >
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->

  </body>
  <script src="/js/index.js"></script>
  <script src="/js/main.js"></script>
  <script>
    $('.user-avatar').click(function() {
            $('.profile-popover').toggleClass('hide')
    })

    updateCartSize();

    $('.logout-btn').click(() => {
      localStorage.clear();
    })

    function updateCartSize(){
      const cart = JSON.parse(localStorage.getItem('cart')) || [];

      if(cart.length > 0) {
        $('.cart-size').removeClass('hide');
        $('.cart-size').text(cart.length);
      } else {
        $('.cart-size').addClass('hide');
      }
    }
  </script>



</html>
