<link href="/css/book-detail.css" rel="stylesheet">
<main class="container-fluid d-flex flex-column justify-content-center" style="padding-top: 130px; padding-bottom: 40px; max-width: 1000px;">
    {{#if product.preview}}
    <div class="bg-light p-4 border-3 shadow-lg preview-box hide" style="position: absolute; left: 0; 
  right: 0; 
  top: 120px;
  margin-left: auto; 
  margin-right: auto; width: 600px; z-index: 2">
        <button class="border-none close-preview-btn" style="background: inherit; border: none; margin-bottom: 6px; margin-left: 100%;">
            <i class="fa-solid fa-xmark"></i>
        </button>
        <iframe frameborder="0" scrolling="no" style="border:0px; margin-left: auto; margin-right: auto" src="{{product.preview}}" width=550 height=500></iframe>
    </div>
    {{/if}}
    <input type="hidden" class="product-id" value="{{product._id}}">
    <section class="product-box d-grid bg-white rounded-3 p-3" style="grid-template-columns: 30% 70%; gap: 24px;">
        <div style="max-width: 250px; max-height: 400px; justify-self: center; align-items: center" class="d-flex flex-column gap-2">
            <img style="width: 80%; height: 90%;"  src="{{product.image}}">
            {{#if product.preview}}
            <button style="padding: 4px 8px; border:none; border-radius: 12px" class="btn btn-primary bg-primary text-white preview-btn">Read Preview</button>
            {{/if}}
        </div>
        <div class="d-flex flex-column justify-content-start gap-2">
            <h3 class="fw-bold" style="display: -webkit-box;
            font-size: 18px;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;">{{product.name}}</h3>
            <div class="product-stat d-flex gap-3">
                {{#if product.rating}}
                <span>
                    <span style="color: orange;">{{#toFixedNumber product.rating}}{{/toFixedNumber}}</span>
                    {{#renderStars product.rating}}
                    {{/renderStars}}
                </span>
                {{/if}}
                {{#if product.reviews}}
                    <p>{{product.reviews}} Reviews</p>
                {{else}}
                    <p>No reviews</p>
                {{/if}}
                <p>{{product.sold}} Sold</p>
            </div>
            <p class="product-price text-primary" style="font-size: 28px;"><span style="font-size: 20px; vertical-align: text-top">&#8363;</span>{{#formatNumber product.price}}{{/formatNumber}}</p>
            <form>
                <div class="d-flex align-items-center gap-3 mb-3 disable">
                    <div class="input-group" style="max-width: 120px;">
                        <span class="quantity-btn desc-btn input-group-text text-primary">-</span>
                        <input type="number" value="1" style="text-align: center;" class="quantity-input form-control" min="1" max="{{product.stock}}">
                        <span class="quantity-btn inc-btn input-group-text text-primary">+</span>
                    </div> 
                    {{#if product.stock}}
                    <p style="font-size: 14px; color: #666;">{{product.stock}} in stock</p>
                    {{else}}
                    <p class="text-danger">Out of stock</p>
                    {{/if}}
                </div>
                <button class="add-cart-btn btn btn-danger" style="padding: 6px 24px; border-radius: 24px;" {{#eq product.stock 0}}disabled{{/eq}} userid="{{user.id}}">
                    <i class="fa-solid fa-cart-shopping"></i>
                    Add to Cart</button>                         
            </form>
        </div>
    </section>
    <section class="p-3 mt-3">
        <h4>Product Details</h4>
        <ul style="padding: 0;">
            <li>
                <div class="row" style="width: 100%;">
                    <p class="detail-key text-secondary" style="width: 168px">Categories </p>
                    <div class="col-8 d-flex">
                        {{#each product.categories}}
                            {{#eq @index 0}}
                            {{else}} 
                                <span class="text-primary">,&nbsp;</span>
                            {{/eq}}
                            <a style="max-width: 240px; text-overflow: ellipsis; white-space: nowrap;
  overflow: hidden;" class="text-primary" href="/books?cat={{this._id}}">{{this.name}}</a>
                        {{/each}}
                    </div>
                </div>
            </li>
            <li>
                <div class="row" style="width: 500px;">
                    <p class="detail-key text-secondary col-4">Authors </p>
                    <div class="col-8 d-flex">
                        {{#each product.authors}}
                        {{#eq @index 0}}
                        {{else}} 
                            <span class="text-primary">,&nbsp;</span>
                        {{/eq}}
                        <a class="detail-value text-primary" href="/books?keyword={{this}}">{{this}}</a>
                        {{/each}}
                    </div>
                </div>
            </li>
            {{#if product.publishDate}}
                <li>
                <div class="row" style="width: 500px;">
                    <p class="detail-key text-secondary col-4">Publish Date</p>
                    <p class="col-8" class="detail-value">{{product.publishDate}}</p>
                </div>
            </li>
            {{/if}}
            {{#if product.publisher}}
                <li>
                <div class="row" style="width: 500px;">
                    <p class="detail-key text-secondary col-4">Publisher</p>
                    <p class="col-8" class="detail-value">{{product.publisher}}</p>
                </div>
            </li>
            {{/if}}
            {{#if product.pages}}
                <li>
                <div class="row" style="width: 500px;">
                    <p class="detail-key text-secondary col-4">Pages</p>
                    <p class="col-8" class="detail-value">{{product.pages}}</p>
                </div>
            </li>
            {{/if}}

        </ul>
    </section>

    {{#if product.description}}
    <section class="p-3 mt-3">
        <h4>Description</h4>
        <div class="description-content">
            {{{product.description}}}
        </div>
    </section>
    {{/if}}

    <section class="p-3 mt-3">
        <h4>Reviews</h4>
        <div class="review-container">
    
        </div>
        {{#if user}}
        <div class="d-flex gap-4" style="padding: 12px 8px">
            <img class="mt-3" src="{{user.avatar.url}}" style="width: 45px; height: 45px; border-radius: 50%">
            <div style="width: 100%">
                <div class="rating mb-1">
                        <i class="rating__star far fa-star"></i>
                        <i class="rating__star far fa-star"></i>
                        <i class="rating__star far fa-star"></i>
                        <i class="rating__star far fa-star"></i>
                        <i class="rating__star far fa-star"></i>
                </div>
                <textarea class="form-control" rows="4" style="resize: none;" placeholder="Write your review here!" id="review-input"></textarea>
                <button class="btn btn-primary mt-2 send-review-btn">Send &nbsp; <i class="fa-regular fa-paper-plane"></i></button>
            </div>
        </div>
        {{else}}
        <a class="fw-bold mt-3" href="/login">Login your account to leave a review.</a>
        {{/if}}
    </section>
</main>
<script src="/js/book-detail.js"></script>
<script>
    const ratingStars = [...document.getElementsByClassName("rating__star")];

    function executeRating(stars) {
        const starClassActive = "rating__star fas fa-star rated-star";
        const starClassInactive = "rating__star far fa-star";
        const starsLength = stars.length;
        let i;
        stars.map((star) => {
            star.onclick = () => {
            i = stars.indexOf(star);

            if (star.className===starClassInactive) {
                for (i; i >= 0; --i) stars[i].className = starClassActive;
            } else {
                for (i; i < starsLength; ++i) stars[i].className = starClassInactive;
            }
            };
        });
        }
    executeRating(ratingStars);

    $('.send-review-btn').click(async(e) => {
        const review = $('#review-input').val();
        if(!review.trim()) {
            return;
        }
        const stars = $('.rated-star').length;
        const product = $('.product-id').val();
        console.log(review, stars);

        const data = (await (fetch('/api/reviews', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                rating: stars,
                content: review,
                product,
            })
        })).then(res => res.json())).data;
        

        $('.review-container').append(
            `<div class="d-flex gap-4" style="padding: 12px 8px">
                <img class="mt-3" src="${data.user.avatar.url}" style="width: 45px; height: 45px; border-radius: 50%">
                <div style="width: 100%">
                    <div class="rating mb-1">
                            <span class="me-1" style="font-size: 14px">${data.user.username}</span>
                            ${renderStar(data.review.rating)}
                            <span class="ms-1" style="font-size: 14px">${new Date(data.review.createdAt).toLocaleDateString('en-UK', {dateStyle: 'medium'})}</span>
                    </div>
                    <div>
                        ${data.review.content}
                    </div>
                </div>
            </div>`
        );
        $('#review-input').val('');
        ratingStars.map((star) => {
            const starClassActive = "rating__star fas fa-star rated-star";
            const starClassInactive = "rating__star far fa-star";
            if (star.className===starClassActive) {
                for (i; i >= 0; --i) stars[i].className = starClassInActive;
            }
        })

    })

    function loadReviews() {
        const productId = $('.product-id').val();
        fetch(`/api/reviews/product/${productId}`).then(res => res.json())
                                                .then(json => json.data)
                                                .then(data => {
                                                    data.forEach(review => {
                                                        $('.review-container').append(
                                                            `<div class="d-flex gap-4" style="padding: 12px 8px">
                                                                <img class="mt-3" src="${review.user.avatar.url}" style="width: 45px; height: 45px; border-radius: 50%">
                                                                <div style="width: 100%">
                                                                    <div class="rating mb-1">
                                                                            <span class="me-1" style="font-size: 14px">${review.user.username}</span>
                                                                            ${renderStar(review.rating)}
                                                                            <p class="m-0" style="font-size: 14px">${new Date(review.createdAt).toLocaleDateString('en-UK', {dateStyle: 'medium'})}</p>
                                                                    </div>
                                                                    <div>
                                                                        ${review.content}
                                                                    </div>
                                                                </div>
                                                            </div>`
                                                        )
                                                    })
                                                })
    }

    $('.add-cart-btn').click((e) => {
        e.preventDefault();
        const user = $('.add-cart-btn').attr('userid');
        console.log(user)
        if (!user) {
            alert("Please login")
            window.location.href = 'http://localhost:8080/login'
        }

        var productId = $('.product-id').val()
        var quantityInput = $(".quantity-input").val();
        var cartItems = JSON.parse(localStorage.getItem('cart'));
        if(!cartItems) {
            cartItems = [];
        }

        var existingItem = cartItems.find(function (item) {
            return item.id === productId;
        });
        console.log(existingItem);
        console.log(quantityInput)
        if (existingItem) {
            // Nếu sản phẩm đã tồn tại trong giỏ hàng, cộng thêm số lượng mới vào số lượng hiện có
            console.log(existingItem.quantity)
            let newQuantity = parseInt(existingItem.quantity) + parseInt(quantityInput)
            existingItem.quantity = newQuantity;
        } else {
            // Nếu sản phẩm chưa tồn tại trong giỏ hàng, tạo một mục mới và thêm vào giỏ hàng
            var newItem = {
                id: productId,
                quantity: quantityInput
            };
            cartItems.push(newItem);
        }
        localStorage.setItem('cart', JSON.stringify(cartItems));
        updateCartSize();
        alert('Thêm vào giỏ hàng thành công')
        
    })
    loadReviews();

</script>
