<style>
  .card-title {
  display: -webkit-box;
  font-size: 14px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-weight: bold;
}
</style>
<h3 style="font-weight: bold; margin-bottom: 0px;">
        {{component.name}}
</h3>
<p class="mb-4">{{component.subtitle}}</p>

<div class="d-flex mb-4" style="gap: 24px;">
    <form style="max-width: 220px; border-radius: 16px" class="shadow-sm" action="/admin/orders">
      <div class="input-group" style="border-radius: 16px;">
          <input name="search" type="text" class="form-control bg-light" style="border-radius: 16px 0 0 16px; border: none" placeholder="Search!" value="{{meta.search}}" required>
          <button style="border-radius: 0 16px 16px 0; border: none" class="input-group-text bg-light">
              <i class=" text-primary fa-solid fa-magnifying-glass"></i>
          </button>
      </div>
  </form>
  <div class="d-flex align-items-center" style="gap: 8px">
    <i class="text-primary fa-solid fa-filter"></i>
    <select class="form-select form-select-sm shadow-sm bg-light" aria-label=".form-select-sm example" style="max-width: 180px; border: none; border-radius: 16px" onchange="handleSelectStatusChange(event)" id="statusSelect">
              <option value="all">All Status</option>
              <option value="processing" {{#eq 'processing' meta.status}}selected{{/eq}}>
                Processing
              </option>
              <option value="delivering" {{#eq 'delivering' meta.status}}selected{{/eq}}>
                Delivering
              </option>
              <option value="completed" {{#eq 'completed' meta.status}}selected{{/eq}}>
                Completed
              </option>
              <option value="canceled" {{#eq 'canceled' meta.status}}selected{{/eq}}>
                Canceled
              </option>
    </select>
  </div>
    <div class="d-flex align-items-center" style="gap: 8px">
    <i class="text-primary fa-solid fa-sort"></i>
    <select class="form-select form-select-sm shadow-sm bg-light" aria-label=".form-select-sm example" style="max-width: 140px; border: none; border-radius: 16px" onchange="handleSelectSortChange(event)" id="sortSelect">
            <option value="createdAt-desc" {{#eq meta.sort 'createdAt-desc'}}selected{{/eq}}>Newest</option>
            <option value="createdAt-asc" {{#eq meta.sort 'createdAt-asc'}}selected{{/eq}}>Oldest</option>
            <option value="total-desc" {{#eq meta.sort 'total-desc'}}selected{{/eq}}>
              Total: High-Low
            </option>
            <option value="total-asc" {{#eq meta.sort 'total-asc'}}selected{{/eq}}>
              Total: Low-High
            </option>
    </select>
  </div>
</div>

  <table class="mx-auto table mt-4 bg-light" style="border-radius: 8px; box-shadow:7px 7px 7px rgba(0, 0, 0, 0.1); max-width: 900px;">
    <caption class="caption-top">List of orders</caption>
    <thead>
      <tr>
        <th scope="col">Order ID</th>
        <th scope="col">Customer</th>
        <th scope="col" class="text-center">Created At</th>
        <th scope="col" class="text-center">Total</th>
        <th scope="col" class="text-center">Status</th>
      </tr>
    </thead>
    <tbody>
        {{#each orders}}
        <tr class="px-4 py-3" rowId="{{this._id}}" rowName="{{this.name}}" onclick="showDetailOrder('{{this._id}}')">
            <td style="vertical-align: middle;">
                <p style="font-size: 12px;">{{this.orderId}}</p>
            </td>
            <td style="vertical-align: middle;"><a href="#" class="link" style="font-size: 14px;">{{this.customer.username}}</a></td>
            <td class="text-center" style="vertical-align: middle;">
                <p style="font-size: 12px;">{{this.createdAt}}</p>
            </td>
            <td class="text-center" style="vertical-align: middle;">
                <p style="font-size: 12px;">đ{{#formatNumber this.total}}{{/formatNumber}}</p>
            </td>
            <td class="text-center" style="vertical-align: middle;">
                <select 
                onclick="changeStatus(event)"
                class="form-select text-light status-select"
                style="border: none; font-size: 14px; border-radius: 24px; outline: none; max-width: 200px" orderId="{{this._id}}">
                    <option
                    value="processing" {{#eq this.status 'processing'}}selected{{/eq}}>
                            Processing
                        </div>
                    </option>
                    <option value="delivering" {{#eq this.status 'delivering'}}selected{{/eq}}>
                        Delivering
                    </option>
                    <option value="completed" {{#eq this.status 'completed'}}selected{{/eq}}>
                        Completed
                    </option>
                    <option
                    value="canceled" {{#eq this.status 'canceled'}}selected{{/eq}}>
                        Canceled
                    </option>
                </select>
            </td>
        </tr>
        {{/each}}
    </tbody>
  </table>
  <div class="bg-light p-4 border-3 shadow-lg preview-box rounded-4 hide" style="position: absolute; left: 0; 
  right: 0; 
  top: 50px;
  margin-left: auto; 
  margin-right: auto; width: 600px; z-index: 2">
        <button class="border-none close-preview-btn" style="background: inherit; border: none; margin-bottom: 6px; margin-left: 100%;">
            <i class="fa-solid fa-xmark"></i>
        </button>
        <h5>
          Order Details <span class="order-id text-primary" style="font-size: 14px"></span>
        </h5>

        <div class="card-body order-placeholder">
          <h5 class="card-title placeholder-glow">
            <span class="placeholder col-6"></span>
          </h5>
          <p class="card-text placeholder-glow">
            <span class="placeholder col-7"></span>
            <span class="placeholder col-4"></span>
            <span class="placeholder col-4"></span>
            <span class="placeholder col-6"></span>
            <span class="placeholder col-8"></span>
            <span class="placeholder col-7"></span>
            <span class="placeholder col-4"></span>
            <span class="placeholder col-4"></span>
            <span class="placeholder col-6"></span>
            <span class="placeholder col-8"></span>
             <span class="placeholder col-8"></span>
            <span class="placeholder col-7"></span>
            <span class="placeholder col-4"></span>
            <span class="placeholder col-4"></span>
            <span class="placeholder col-6"></span>
            <span class="placeholder col-8"></span>
          </p>
        </div>
        <div class="order-detail-table hide">
        
      </div>
        <button class="btn btn-primary mt-4" onclick="handleOkBtn()">Ok</button>
    </div>
{{#if meta.showPagination}}
<nav aria-label="Page navigation example" style="margin-top: 32px;">
  <ul class="pagination justify-content-center">
    <li class="page-item {{#if meta.noPrev}}disabled{{/if}}">
      <a class="page-link" href="/admin/orders?page={{meta.prevPage}}&sortBy={{meta.sortBy}}&sortDir={{meta.sortDir}}{{#if meta.hasSearch}}&search={{meta.search}}{{/if}}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {{#range 1 meta.totalPage}}
        <li class="page-item {{#eq this ../meta.page}}active{{/eq}}"><a class="page-link" href="/admin/orders?page={{this}}&sortBy={{../meta.sortBy}}&sortDir={{../meta.sortDir}}{{#if ../meta.hasSearch}}&search={{../meta.search}}{{/if}}">{{this}}</a></li>
    {{/range}}
    <li class="page-item {{#if meta.noNext}}disabled{{/if}}">
      <a class="page-link" href="/admin/orders?page={{meta.nextPage}}&sortBy={{meta.sortBy}}&sortDir={{meta.sortDir}}{{#if meta.hasSearch}}&search={{meta.search}}{{/if}}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
{{/if}}

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirm Deleting!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" 
        data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="continueBtn" data-bs-dismiss="modal">Continue</button>
      </div>
    </div>
  </div>
</div>
<script src="/admin/js/order-page.js"></script>
<script>
  $('.close-preview-btn').click(() => {
        $('.preview-box').addClass('hide');
    })

  async function showDetailOrder(id) {
    $('.preview-box').removeClass('hide');
    $('.order-id').text(`#${id}`)
    $('.order-detail-table').addClass('hide');
    $('.order-placeholder').removeClass('hide');
    

    const response = await fetch(`/admin/orders/${id}`);

    const data = (await response.json()).data;

    setTimeout(() => {
      $('.order-placeholder').addClass('hide');

      $('.order-detail-table').removeClass('hide');
    }, 300)

    $('.order-detail-table').html(`
    <div class="fw-bold mt-3" style="font-size: 14px">
      <p>Customer: ${data.customer.username}</p>
      <p>Status: ${data.status}</p>
    </div>
    <table class="table bg-light rounded-3 mt-3">
      <thead>
    <tr>
      <th scope="col">Product</th>
      <th scope="col">Quantity</th>
      <th scope="col">Subtotal</th>
    </tr>
  </thead>
  <tbody>
    ${data.products.map(item => (
      `
      <tr>
        <th scope="row">
          <div class="row">
            <img class="col-6" src=${item.product.image.url} style="width: 80px; height: 70px"/>
            <div class="col-6">
              <p class="card-title">
                ${item.product.name}
              </p>
            </div>
          </div>
        </th>
        <td>${item.quantity}</td>
        <td class="fw-bold">${(item.quantity * item.product.price).toLocaleString('vi-VN')}<sup>&#8363;</sup></td>
      </tr>
      `
    )).join('')}
  </tbody>
     </table>
     <div style="width: 100%; text-align: end"><p class="fw-bold" style="font-size: 20px">Total: ${data.products.reduce((prev, currentValue) => prev + currentValue.product.price * currentValue.quantity, 0).toLocaleString('vi-VN')}<sup>&#8363;</sup></p></div>
    `)

  }

  function changeStatus(e) {
    e.stopPropagation();
  }

  function handleOkBtn() {
    $('.preview-box').addClass('hide');
  }
</script>