 <div class="px-4">
      <div class="bg-light" style="width: 100%; height: 280px; border-radius: 12px;">
        <div style="background: url(https://images.pexels.com/photos/3394939/pexels-photo-3394939.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2); 
        background-size: cover;
        background-position: center; width: 100%; height: 50%; border-radius: 12px;">
        </div>
        <div class="d-flex gap-3">
          <img style="width: 70px; height: 70px;object-fit: cover; object-position: center; border-radius: 50%; padding: 3px; transform: translatey(-50%); margin-left: 5%;" class="bg-light" src="{{user.avatar}}">
        <div>
          <p class="fw-bold">{{user.fullName}}</p>
          <span style="color: #666; font-size: 14px;">{{user.role}}</span>
        </div>
    </div>
    <div style="margin-left: 6%; font-size: 14px; transform: translateY(-10px);">
      <p><i class="fa-regular fa-user"></i>&nbsp;&nbsp;Username: {{user.username}}</p>
      <p class="mt-1"><i class="fa-regular fa-envelope"></i>&nbsp;&nbsp;Email: {{user.email}}</p>
    </div>
      </div>
    <div class="mt-4 d-flex gap-5">
      <div style="padding: 12px 24px; border-radius: 12px; flex: 0.4" class="bg-light">
        <p>Recent orders</p>
        <ul style="padding: 0; flex-direction: column;" class="mt-3 d-flex gap-4 orders-container">
          <li class="d-flex gap-4 order-placeholder" id="order-placeholder">
            <i class="text-primary fa-solid fa-boxes-packing mt-2"></i>
            <div class="col-6">
              <div class="fw-bold placeholder-glow">
                <span class="placeholder col-9"></span>
              </div>
              <div class="fw-bold placeholder-glow">
                <span class="placeholder col-12"></span>
              </div>
              <div class="fw-bold placeholder-glow">
                <span class="placeholder col-9"></span>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div style="padding: 12px 24px; border-radius: 12px; flex: 0.6;" class="bg-light">
        <p class="mb-2">Recent reviews</p>
        <ul class="review-container" style="padding: 0; flex-direction: column;" class="mt-3 d-flex gap-4">
           <li class="d-flex gap-4 review-placeholder" id="order-placeholder">
            <img class="placeholder" style="width: 60px; height: 90px;">
            <div class="col-6">
              <div class="fw-bold placeholder-glow">
                <span class="placeholder col-9"></span>
              </div>
              <div class="fw-bold placeholder-glow">
                <span class="placeholder col-8"></span>
              </div>
              <div class="fw-bold placeholder-glow">
                <span class="placeholder col-10"></span>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

<script>
  $(document).ready(() => {
    const userId = window.location.href.split('/').pop();
    getUserReviews(userId);
    getRecentOrders(userId);
  })

  async function getRecentOrders(id) {
    const response = await fetch(`/api/orders/by-user?userId=${id}`, {
      method: 'GET',
    });
    if(!response.ok) {
      showMainAlert('warning', 'Something was wrong when loading user orders!');
      return;
    }
    const data = (await response.json()).data;
    const orders = data.orders;
    setTimeout(() => {
      $('#order-placeholder').addClass('d-none')
    orders.forEach(order => {
      order.createAt = new Date(order.createdAt).toLocaleDateString('en-UK', {dateStyle: 'medium'})
      let statusBg;
      switch(order.status) {
        case 'processing': statusBg = 'bg-warning'; break;
        case 'delivering': statusBg = 'bg-info'; break;
        case 'completed': statusBg = 'bg-success'; break;
        case 'canceled': statusBg = 'bg-danger'; break;
      }
      $('.orders-container').append(
          `
          <li class="d-flex gap-4">
            <i class="text-primary fa-solid fa-boxes-packing mt-2"></i>
            <div>
              <span class="fw-bold order-id">${order.orderId}</span>
              <div>
                <span class="me-2" style="font-size: 14px;">${order.createAt}</span>
                <span class="text-primary fw-bold"> $${order.total}</span>
              </div>
              <div class="px-2 py-1 text-white ${statusBg}" style="width: fit-content; border-radius: 16px;font-size: 12px;">
                ${order.status}
              </div>
            </div>
          </li>
          `
      )
    })
    if(!orders.length) {
            $('.orders-container').append(`<li class="my-3 text-primary" style="text-align:center"><p>This user doesn't have any order before</p><li>`)
          }
    }, 600)
  }

  async function getUserReviews(id) {
    const response = await fetch(`/api/reviews/by-user?userId=${id}`, {
      method: 'GET',
    });
    if(response.ok) {
      const data = (await response.json()).data;
      $()
      const reviews = data.reviews;
      setTimeout(() => {
            $('.review-placeholder').addClass('d-none')
          reviews.forEach(review => {
              let result = '';
              for (let i = 1; i <= 5; i++) {
                  let starClass = '';
                  if(review.rating >= i) {
                      starClass = 'fa-solid fa-star checked-star';
                  } else {
                      starClass = 'fa-regular fa-star';
                  }

                  result += `<span class="${starClass}"></span>`;
              }
            $('.review-container').append(
              `<li class="d-flex gap-4">
                <img src="https://res.cloudinary.com/dsv2f6qxf/image/upload/v1702195758/book-store-system/products/gxv5rvwued9a62xkzwlk.jpg" style="width: 60px; height: 90px;">
                <div>
                  <span class="fw-bold" style="text-overflow:ellipsis;line-height=1.2rem;max-height=2.4rem">${review.product.name}</span>
                  <div>
                    ${result}
                    <span class="ms-2" style="font-size: 14px;">${(new Date(review.createdAt)).toLocaleDateString('en-UK', {dateStyle: 'medium'})}</span>
                  </div>
                  <div style="font-size: 14px;">
                    ${review.content}
                  </div>
                </div>
              </li>`
            )
          })

          if(!reviews.length) {
            $('.review-container').append(`<li class="my-3 text-primary" style="text-align:center"><p>This user doesn't have any review before</p><li>`)
          }
      }, 700)
    }
  }
</script>