<h3 style="font-weight: bold; margin-bottom: 0px;">
        {{component.name}}
    </h3>
    <p>{{component.subtitle}}</p>
    <form enctype="multipart/form-data" class="form rounded-3 shadow-sm mx-auto py-3 px-4" style="max-width: 550px;" onsubmit="return handleSubmit(event)" action="/api/users/{{user._id}}" method="post">
        <input type="hidden" value="{{user._id}}" name="_id" id="id">
        <div class="mb-3 g-2 row align-items-center">
          <div class="col-4">
            <label for="exampleInputEmail1" class="form-label">Full Name:</label>
          </div>
          <div class="col-8">
            <input type="text" class="form-control" id="fullName" aria-describedby="emailHelp"
            value="{{user.fullName}}" name="fullName">
          </div>
        </div>
        <div class="mb-3 g-2 row align-items-center">
            <div class="col-4">
              <label for="email" class="form-label">Email:</label>
            </div>
            <div class="col-8">
              <input type="email"
              value="{{user.email}}"
              name="email"
              required 
              class="form-control" 
              id="email" aria-describedby="emailHelp">
            </div>
          </div>
          <div class="mb-3 g-2 row align-items-center">
            <div class="col-4">
              <label for="email" class="form-label">Password:</label>
            </div>
            <div class="col-8">
              <input type="password"
              class="form-control" 
              id="password"
              name="password"
              placeholder="Leave blank if you don't want to change pw"
              aria-describedby="emailHelp">
            </div>
          </div>
          <div class="row">
            <div class="col-4">
                <label for="role" class="">Role: 
            </div>
            <div class="col-8">
                <select class="form-select mb-3 form-select-sm" id="role" aria-label=".form-select-lg example" name="role">
                    <option value="user" {{#eq user.role 'user'}}selected{{/eq}}>User</option>
                    <option value="admin" {{#eq user.role 'admin'}}selected{{/eq}}>Admin</option>
                </select>
            </div>
        </div>
        <div class="mt-3 mb-4">
            <div class="mb-2 d-flex justify-content-center">
                <img id="selectedImage" src="{{user.avatar.url}}"
                alt="example placeholder" style="width: 200px;" />
            </div>
            <div class="d-flex justify-content-center">
                <div class="btn btn-rounded btn-sm" style="border-radius: 80px; background-color: rgba(11, 49, 171, 0.6);" >
                    <label class="form-label text-white m-1" for="avatar">Choose file</label>
                    <input type="file" 
                    name="avatar"
                    accept="image/jpeg, image/png"
                    class="form-control d-none" id="avatar" onchange="displaySelectedImage(event, 'selectedImage')" />
                </div>
            </div>
        </div>
        <div class="d-flex w-100 justify-content-center">
            <button type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop" class="btn btn-danger me-4">Cancle</button>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
  
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Do your want to cancel this action?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        If you continue, this editing will be canceled.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <a href="/users" type="button" class="btn btn-primary" >Continue</a>
      </div>
    </div>
  </div>
</div>

<script>
    const toBase64 = file => new Promise((resolve, reject) => {
        const reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = () => resolve(reader.result);
        reader.onerror = reject;
    });

    function displaySelectedImage(event, elementId) {
    const selectedImage = document.getElementById(elementId);
    const fileInput = event.target;

    if (fileInput.files && fileInput.files[0]) {
        const reader = new FileReader();

        reader.onload = function(e) {
            selectedImage.src = e.target.result;
        };

        reader.readAsDataURL(fileInput.files[0]);
    }
    }

    async function handleSubmit(e) {
        e.preventDefault();

        const formData = new FormData();

        const id = $('#id').val();
        const fullName = $('#fullName').val();
        const email = $('#email').val();
        const password = $('#password').val();
        const role = $('#role').find(':selected').val();
        const avatar = $('#avatar')[0].files[0];

        formData.append('fullName', fullName);
        formData.append('email', email);
        formData.append('password', password);
        formData.append('role', role);
        if(avatar) {
          formData.append('avatar', avatar);
        };

        const response = await fetch(`/api/users/${id}`, {
          method: 'POST',
          body: formData,
        })

        if(response.ok) {
          const json = await response.json();
          console.log(json);
        } else {
          const json = await response.json();
          showMainAlert('danger', json.message)
        }

        return false;
    }

    $(document).ready(() => {
      $('.form').on('submit', (e) => {
        return true;
      })
    }) 
</script>